<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("modules/head.ejs") %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/list_employees/list_employees_main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/list_employees/modal_window.css">
        <script async src="javascripts/list_employees.js"></script>
    </head>
    <body>
        <%- include("modules/header.ejs") %>
        <%- include("modules/list_employees_main.ejs") %>
        <%- include("modules/modal_window.ejs") %>
        <%- include("modules/footer.ejs") %>
    </body>
</html>